<!DOCTYPE html>
<html>
  <head>
    <title>NDTO | indie tournaments for Magic the Gathering</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'https://cdn.jsdelivr.net/foundation/6.2.4/foundation.min.css', 'https://fonts.googleapis.com/css?family=Roboto|Open+Sans', 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://code.jquery.com/jquery-3.3.1.min.js', 'https://cdn.jsdelivr.net/foundation/6.2.4/foundation.min.js', 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
    <div class="app-root">
      <div class="container"> 
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>

      <div id="mar_mar">
        <%= yield %>
      </div>

      <div id="user_nav" class="container">
        <% if user_signed_in? %>
        <%-# image_tag("icon") -%>
          Signed in as <%= current_user.username %>. Not you?
          <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
        <% end %>
      </div>
    </div>
  </body>
  
</html>
